@import '../../../sharedStyles';

.profile-status{
  &__status-box{
    position: relative;
    p{
      margin: 0;
    }
    margin-top: 10px;
  }
  &__status-btn{
    @include buttonReset;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
    padding: 0 2px 0 2px;
    font-size: 15px;
    cursor: pointer;
    i{
      color: $mainTextColor;
      transition: .2s;
      &:hover{
        color: $titleTextColor;
      }
    }
  }
  @mixin statusBarCommon{
    padding: 3px 20px 3px 20px;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    height: 25px;
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid transparent;
    border-radius: 5px;
    box-sizing: border-box;
    color: $mainTextColor;
  }
  &__status{
    @include statusBarCommon;
    cursor: default;
  }
  &__status-input{
    @include inputReset;
    @include statusBarCommon;
    border: 1px solid $smoothCommonOrange;
  }
}