@import "../sharedStyles";

.profile{
  &__columns{
    width: 100%;
    display: flex;
    gap: 30px;
  }
  &__col1{
    width: 25%;
  }
  &__col2{
    width: 50%;
  }
  &__col3{
    width: 25%;
  }
  &__preloader-box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
