@import '../../sharedStyles';

.dialogItem{
  height: 75px;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  cursor: pointer;
  background-color: $dialogColor;
  text-decoration: none;
  &:hover{
    opacity: 0.9;
  }
  &.active{
    background-color: rgba(246, 132, 37, 0.2);
  }
  &__avatar{
    box-sizing: border-box;
    object-fit: cover;
    flex: 0 0 60px;
    width: 60px;
    height: 60px;
    border-radius: 50%;

  }

  &__text-box{
    flex: 0 1 75%;
    padding: 8px 0;
    overflow: hidden;
  }

  &__name{
    color: $titleTextColor;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 7px;
    @include textOverflowEllipsis;
  }

  &__first-message{
    color: $titleTextColor;
    font-weight: 300;
    font-size: 14px;
    @include textOverflowEllipsis;
  }

  &__first-message-name{
    color: $commonOrange;
    font-weight: 400;
  }
}