
.network-contact{
  color: gray;
  font-size: 19px;
  cursor: pointer;
  transition: .1s;
  &:hover{
    color: #c0c0c0;
  }
  &--facebook{
    &:hover{
      color:#0b84ed;
    }
  }
  &--twitter{
    &:hover{
      color: #1da1f2;
    }
  }
  &--vk{
    &:hover{
      color: #4e7db2;
    }
  }
  &--instagram{
    &:hover{
      color: #e83364;
    }
  }
  &--github{
    &:hover{
      color: #24292e;
    }
  }
  &--youtube{
    &:hover{
      color: #ff0000;
    }
  }
}