@import "../../sharedStyles";

.textarea{
  &__box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__label{
    display: inline;
    color: $titleTextColor;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  &__textarea{
    resize: vertical;
    color: $mainTextColorPlus;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
    margin-bottom: 4px;
    border: 1px solid $middleCommonOrange;
    border-radius: 5px;
    box-sizing: border-box;
    &:focus{
      border: 1px solid $commonOrange;
      outline: 2px solid $middleCommonOrange;
    }
  }
  &__error{
    height: 10px;
    font-size: 13px;
    color: $validationErrorColor;
  }
}