@import "../../sharedStyles";

.profile-posts{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;

  &__input{
    box-sizing: border-box;
    width: 100%;
    padding: 10px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    @include mainPageComponentsStyles;
    textarea {
      box-sizing: border-box;
      width: 100%;
      min-height: 110px;
      max-height: 400px;
      padding: 5px 5px 5px 9px;
      border-radius: 5px;
      resize: none;
      box-shadow: none;
      outline: 0;
      border: 1px solid $mainTextColor;
      transition-duration: 0.2s;
      &:focus{
        border: 1px solid $commonOrange;
        min-height: 150px;
      }
    }
  }
}