@import '../sharedStyles';

@keyframes headerIntroAnim {
   from{
     transform: translateY(-60px);
   }
  to{
    transform: translateY(0px);
  }
}

.header{
  background-color: $headerColor;
  grid-area: header;
  display: flex;
  gap: 35px;
  width: 100%;
  position: fixed;
  top: 0;
  height: 60px;
  z-index: 51;
  animation: headerIntroAnim .8s;
  &__logo-wrapper{
    @include flexCenter;
    background-color: #ff5e3a;
    height: 100%;
    width: 60px;
  }
  &__logo{
    font-size: 25px;
  }
  &__title{
    @include flexCenter;
    font-size: 18px;
    color: $bodyColor;

  }
  &__find-friends-btn{
    height: 100%;
    font-size: 14px;
    @include flexCenter;
    color: $bodyColor;
    text-decoration: none;
    transition: .1s;

    &:hover{
      color: $commonOrange;
    }
    &.active{
      color: $commonOrange;
    }
  }
  &__user-login-box{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 15px 5px 5px;
    flex-grow: 1;
  }
}