$mainComponentsColor: #ffffff;
$headerColor: #3f4257;
$bodyColor: #edf2f6;
$titleTextColor: #515365;
$mainTextColor: rgb(155, 159, 182);
$commonOrange: #ff5e3a;
$smoothCommonOrange: #ffdacc;
$dialogColor: #f3f6ff;
$headerTextColor: #989cca;
$validationErrorColor: indianred;

@mixin flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin mainPageComponentsStyles{
  background-color: $mainComponentsColor;
  border-radius: 5px;
  box-shadow: 0 0 1px 1px #dcdbdb;
}

@mixin textOverflowEllipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin inputReset{
  border: none;
  &:focus{
    outline: 0;
  }
}
@mixin buttonReset{
  border: none;
  background-color: unset;
  &:hover{
    background-color: unset;
  }
}
@mixin linkReset(){
  color: $mainTextColor;
  text-decoration: none;
}

@mixin commonButtonStyles(){
  background-color: #ff5e3a;
  color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  &:hover{
    background-color: rgba(255, 94, 58, 0.8);
  }
}
.main{
  grid-area: main;
}
p{
  margin: 0;
}
///* Указываем box sizing */
//*,
//*::before,
//*::after {
//  box-sizing: border-box;
//}
//
///* Убираем внутренние отступы */
//ul[class],
//ol[class] {
//  padding: 0;
//}
//
///* Убираем внешние отступы */
//body,
//h1,
//h2,
//h3,
//h4,
//p,
//ul[class],
//ol[class],
//li,
//figure,
//figcaption,
//blockquote,
//dl,
//dd {
//  margin: 0;
//}
//
///* Выставляем основные настройки по-умолчанию для body */
//body {
//  min-height: 100vh;
//  scroll-behavior: smooth;
//  text-rendering: optimizeSpeed;
//  line-height: 1.5;
//}
//
///* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
//ul[class],
//ol[class] {
//  list-style: none;
//}
//
///* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
//a:not([class]) {
//  text-decoration-skip-ink: auto;
//}
//
///* Упрощаем работу с изображениями */
//img {
//  max-width: 100%;
//  display: block;
//}
//
///* Указываем понятную периодичность в потоке данных у article*/
//article > * + * {
//  margin-top: 1em;
//}
//
///* Наследуем шрифты для инпутов и кнопок */
//input,
//button,
//textarea,
//select {
//  font: inherit;
//}
//
///* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
//@media (prefers-reduced-motion: reduce) {
//  * {
//    animation-duration: 0.01ms !important;
//    animation-iteration-count: 1 !important;
//    transition-duration: 0.01ms !important;
//    scroll-behavior: auto !important;
//  }
//}