@import './components/sharedStyles';

body{
    background-color: $bodyColor;
}
.app-wrapper{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr;
    grid-row-gap: 30px;
    grid-template-areas:
        'header header'
        ' main main ';
}

.main-wrapper{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 100px;
}