@import '../sharedStyles';
@mixin itemStyles{
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
  padding: 3px 3px 3px 17px;
  text-align: left;
  font-weight: bold;
  text-decoration: none;
  color: aliceblue;
  box-sizing: border-box;
}

@keyframes navIntroAnim {
  from{
    transform: translateX(-60px);
  }
  to{
    transform: translateX(0px);
  }
}

.nav{
  background-color: #ffffff;
  height: 100%;
  width: 60px;
  position: fixed;
  left: 0;
  top: 60px;
  z-index: 50;
  transition: 0.2s;
  animation: navIntroAnim .8s;
  &__list{
    padding: 0;
    margin-top: 15px;
    li{
      padding-top: 8px;
      list-style: none;
    }
  }
  &__item{
    @include itemStyles;
    &:hover{
      i{
        color: #ff5e3a;
      }
      span{
        transition-duration: 0.1s;
        color: $titleTextColor;
      }
    }
    i{
      font-size: 25px;
      color: #9a9fbf;
      transition-duration: 0.1s;
      width: 30px;
    }
  }
  &__item-description{
    display: none;
    visibility: hidden;
    opacity: 0;
    font-weight: 700;
    color: $mainTextColor;
    white-space: nowrap;
    overflow: hidden;
  }
  a{
    &.active{
      i{
        color: $commonOrange;
      }
      span{
        color: $titleTextColor;
      }
    }
  }
  &__burger{
    cursor: pointer;
  }
}

.nav{
  &--opened{
    width: 221px;
      span{
        display: block;
        visibility: visible;
        opacity: 1;
    }
  }
}