@import "../../sharedStyles";

.pagination{
  @include mainPageComponentsStyles;
  height: 50px;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  box-sizing: border-box;

  &__numbers-box{
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    gap: 5px;
    &--is-fetching{
      pointer-events: none;
      &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.49);
      }
    }
  }
  &__number-box{
    border-radius: 5px;
    flex: 0 0 35px;
    width: 35px;
    box-sizing: border-box;
    border: 1px solid $mainTextColor;
    color: $mainTextColor;
    cursor: pointer;
    @include flexCenter;
    @include linkReset;
    &:hover{
      border: 1px solid $commonOrange;
      color: $commonOrange;
    }
    &--large{
      flex: 0 0 45px;
      width: 45px;
    }
  }

  &__number{
    font-size: 14px;
    font-weight: 700;
  }

  &__current-page{
    border: 1px solid $commonOrange;
    color: $commonOrange;
  }

  &__arrow{
    width: 50px;
    border: 1px solid $smoothCommonOrange;
    border-radius: 5px;
    box-sizing: border-box;
    position: relative;
    &:before,&:after{
      content: '';
      position: absolute;
      width: 3px;
      height: 17px;
      border-radius: 2px;
      background-color: $commonOrange;
    }
    &:before{
      top: 0;

    }
    &:after{
      bottom: 0;

    }
  }
  &__arrow-prev{
    &:before,&:after{
      left: 18px;
    }
    &:before{
      transform: rotate(45deg);
    }
    &:after{
      transform: rotate(-45deg);
    }
  }
  &__arrow-next{
    &:before,&:after{
      right: 18px;
    }
    &:before{
      transform: rotate(-45deg);
    }
    &:after{
      transform: rotate(45deg);
    }
  }
}